.img-logo{
    display: flex;
    justify-content: end;
    height: 330px;
    font-size: 200%;
    max-width: 100%;

}
.textos{
    max-width: 200px;
    font-size: 150%;
}
.inicio{
    display: flex;
    justify-content: start;
    font-size: 300%;
}
ul{
    font-size: 150%;
}
body{
    background-image: linear-gradient(#228B22,#00FA9A);
    padding: 40px;
}
.fundadores{
    width: 150px;
}
.fund-texto{
    font-size:180%;
}
.vant-bene{
    font-size: 200%;
}
.palitos{
    width: 400px;
    display: flex;
    justify-content: space-between;
}